@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    .about-wrapper {
        @apply bg-[#867F6C] h-screen -my-20 rounded-t-3xl z-10 flex flex-col items-center
    }

    .stats-container {
        @apply w-fit p-10 flex gap-32
    }

    .stat-container {
        @apply flex flex-col border-2 rounded-full shadow-xl bg-[#9C836F]
    }

    .stat-icon-container {
        @apply w-32 h-32 drop-shadow-2xl mx-28
    }


    .stat-container h1 {
        @apply my-4 mt-14 text-center text-4xl font-bold text-stone-800;

        font-family: 'Carelia', sans-serif;
    }

    .stat-container h2 {
        @apply text-center text-2xl font-extrabold tracking-wider text-stone-800 mt-2 mb-20;
    }


    .timeline-container {
        @apply flex flex-col w-full
    }

    .timeline-header-container {
        @apply text-stone-800 ml-36 my-10;    
        font-family: 'Carelia', sans-serif;
    }

    .timeline-header-container h1 {
        @apply flex gap-4 text-5xl
    }

    .timeline-header-container b {
        @apply text-8xl;
        font-feature-settings: 'ss02' 1;
    }

    .timeline-header-container p{
        @apply mt-12
    }


}

@layer utilities {
    .shadow-top {
        box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.3);
    }
}