@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Carelia';
  src: local('Carelia Upright'), local('Carelia-Upright'),
    url('/fonts/Carelia-Upright.woff2') format('woff2'),
    url('/fonts/Carelia-Upright.woff') format('woff'),
    url('/fonts/Carelia-Upright.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {

  html {
    @apply bg-[#EFECE5] max-w-full
  }
  /* Footer */

  .footer-wrapper {
    @apply flex w-full bottom-0 max-h-fit justify-between bg-[#867F6C] border-t border-[#32312F]
  }

  .footer-wrapper .copyright{
    @apply m-auto text-[#32312F] py-2 
  }


}