@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Carelia';
    src: local('Carelia Upright'), local('Carelia-Upright'),
        url('/fonts/Carelia-Upright.woff2') format('woff2'),
        url('/fonts/Carelia-Upright.woff') format('woff'),
        url('/fonts/Carelia-Upright.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navbar-text::after {
    content: '';
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

@layer base {
    .navbar-wrapper {
        @apply fixed z-50 w-full h-[8%] flex justify-end px-16 mt-4
    }

    .navbar-container {
        @apply flex items-center py-1 rounded-lg shadow-md 

        bg-[#ffffff1a] backdrop-blur-sm border-[1px] border-[#ffffff2c]
    }

    .navbar-item {
        @apply mx-3 pb-1;
    }

    .navbar-text {
        @apply text-xl tracking-wider font-bold text-[#32312F]
        
        inline-block relative select-none 
    }

    .navbar-text::after {
        @apply absolute w-0 h-0.5 -bottom-1 left-1/2 bg-[#32312F]
    }

    .navbar-item:hover {
        @apply cursor-pointer
    }

    .navbar-text:hover::after {
        width: 100%;
        left: 0;
    }

    .navbar-icon {
        @apply select-none drop-shadow-[0px_2px_2px_rgba(0,0,0,0.2)] ml-4 mr-2
        transition-all ease-in-out
    }

    .navbar-icon:hover {
        @apply cursor-pointer scale-110
    }

    .navbar-separator {
        @apply w-2 h-2 bg-[#32312F] rounded-full mt-1 mx-1
    }

    @media screen and (max-width: 600px) {
        .navbar-wrapper {
            @apply px-2 justify-center
        }

        .navbar-item {
            @apply pb-0 mx-1
        }

        .navbar-text {
            @apply text-base
        }
        
    }

}